@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-DemiBold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-Light-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-ExtraBold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-Medium-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-DemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda-Bold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
